.App {
  text-align: center;

}

.App-header {
  background-color: rgba(182, 132, 98, 0.719);
  height: 150px;
  padding: 20px;
  color: rgba(28, 15, 6, 0.719);

}

.App-title {
  font-size: 3em;
  padding-top: 30px;
  padding-bottom: 30px;
  margin:0px;  
  font-family: 'Dancing Script', cursive;

}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* --------------------------------------------Form Style------------------------------------------------------ */

.SubmitForm{
  margin: 10px 25%;
  padding: 20px;
  background-color: rgba(182, 132, 98, 0.132);
  border-radius: 15px;
  border: 1px solid rgb(120, 98, 70);

}

.input-field{
  margin: 0 10px;
  font-family: 'Scope One', serif;
  border-radius: 5px;
  text-decoration: underline ;
}
.input-field-description{
  margin: 0 10px;
  font-family: 'Scope One', serif;
  border-radius: 5px;
}
.form-title{
  font-family: 'Scope One', serif;
  font-size: large;
  font-weight:500;
}

.list-picture{
  margin:20px 10%;
}

.picture-data{
  font-family: 'Scope One', serif;
  background-color: rgb(238, 233, 225);
  margin: 10px;
  padding: 20px;
  text-align: left;
  border: 1px solid black;
  float: left;
}

.description{
  background-color: rgb(240, 205, 159);
  border-radius: 10px;
  padding: 5px;
}

.deleteBtn{
  float: right;
}
.likeBtn{
  float:left;
  margin: 5px;
}
.countLike{
  float: left;
  margin: 5px;
  border: 1px solid black;
  border-radius: 100px;
  padding: 0 8px;
}

.root{
    background: rgb(240, 205, 159);
    border: 0;
    border-radius: 3;
    box-shadow: '0 3px 5px 2px rgba(255, 105, 135, .3)';
    color: 'white';
    height: 48;
    padding: '0 30px';
    margin: 3px;
};

